<footer class="page-footer font-small pt-2">
  <div class="container">
      <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
              <h4 class="txt-color">Tecnologias utilizadas</h4>
          </div>
      </div>

      <div class="row mt-3 ">
          <div class="col-md-12 d-flex justify-content-center">
              <ul class="tecnologias">
                <li>
                    <img class="tamanho" src="../../assets/img/java-brands.svg" alt="">
                </li>
                <li>
                    <img class="tamanho" src="../../assets/img/mysql-icon.svg" alt="">
                </li>
                <li>
                    <img class="tamanho" src="../../assets/img/getpostman-icon.svg" alt="">
                </li>
                <li>
                    <img class="tamanho" src="../../assets/img/html5-brands.svg" alt="">
                </li>
                <li>
                    <img class="tamanho" src="../../assets/img/css3-alt-brands.svg" alt="">
                </li>
                <li>
                    <img class="tamanho" src="../../assets/img/bootstrap-brands.svg" alt="">
                </li>
                <li>
                    <img class="tamanho" src="../../assets/img/angular-brands.svg" alt="">
                </li>
              </ul>
          </div>
      </div>
  </div>

  <div class="footer-copyright bg-footer text-center pb-2">
      <span class="txt-color"> © 2021 Lunação </span>
  </div>
</footer>
