<nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler m-2" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">

        <span class="navbar-toggler-icon"></span>

    </button>
    
    
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

        <div class= "pl-2 d-flex align-items-start">
            <img src="https://i.imgur.com/sJdgdFB.png" alt="Logo do Projeto" class="tm-logo">
        </div>
        
        <ul class="pl-2 pt-1 navbar-nav mr-auto d-flex align-items-start">

            <li class="nav-item">
                <a class="nav-link m-0 font-weight-bold text-blak fs-16" href="#">Página inicial <span class="sr-only">(página atual)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link m-0 font-weight-bold text-blak fs-16" href="">Produtos</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle m-0 font-weight-bold text-blak fs-16" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Info
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="">O projeto</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">O grupo</a> 
                </div>
            </li>
        
        </ul>

        <hr>

        <ul class="p-2 navbar-nav ml-auto d-flex align-items-start">

                <li class="nav-item">
                    <a class="nav-link m-0 font-weight-bold text-blak fs-16" routerLink='/cadastrar'>Cadastro</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link m-0 font-weight-bold text-blak fs-16" routerLink='/login'>Login</a>
                </li>
            </ul>
    
    </div>
  
</nav>
