* {
    font-family: 'Comfortaa', cursive;
}

.tm-logo {
    width: 75px;
    height: 50px;
}

.fs-16 {
    font-size: 16px;
}

.navbar {
    background-color: #E0BA8A;
}

.divisoria {
    color: black;
}

a {
  cursor: pointer;
}

.fa-pencil{
    color: #705D45;
}

.txt{
    color: #705D45;
    font-weight: bold;
}

.pic:hover{
    width: 65px;
    height: 65px;
}
