<!-- <p>cadastrar works!</p> -->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12" id="img-bg">

            <div class="container">
                <div class="card">



                    <div class="row  mb-5 d-flex justify-content-center">
                        <div class="col-md-10">

                            <h1 class="text-center mb-5">Cadastro</h1>

                            <div class="form-group font-weight-bold">
                                <label for="nome">Nome</label>
                                <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome"
                                    placeholder="Seu nome">
                            </div>

                            <div class="form-group font-weight-bold">
                                <label for="usuario">Usuário</label>
                                <input [(ngModel)]='usuario.usuario' class="form-control" type="text" name="usuario"
                                    id="usuario" placeholder="Seu usuário">
                            </div>

                            <div class="form-group font-weight-bold mb-0">
                                <label for="foto">Link da foto</label>
                                <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="foto" id="foto"
                                    placeholder="Link de sua foto">
                            </div>

                            <div class="form-group label-float font-weight-bold">
                                <label for="senha">Senha</label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha"
                                    id="senha" placeholder="Sua senha">
                            </div>

                            <div class="form-group font-weight-bold">
                                <label for="confirmSenha">Confirmar Senha</label>
                                
                                <input [(ngModel)]='usuario.senha' class="form-control" type="password"
                                    name="confirmSenha" id="confirmSenha" placeholder="Confirme sua senha">
                            </div>
                                                                       
                            <div class="form-group font-weight-bold">
                                <label for="tipo">Tipo de usuário</label>
                                <select class="form-control" name="tipo" id="tipo" (change)='tipoUsuario($event)'>
                                    <option value="">Tipo de usuário</option>
                                    <option value="comum">Comum</option>
                                    <option value="doador">Doador</option>
                                    <option value="adm">Administrador</option>
                                </select>
                            </div>

                            <hr class="mt-5 mb-5">

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-danger mr-4" routerLink='/logar'>Cancelar</button>
                                <button type="submit" class="btn btn-outline-success" (click)='cadastrar()'> Cadastrar</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>

</div>
