#img-bg {
    /* background-image: url(); */

    background-color: gray;

    min-height: 970px;

   /*  background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}