<!--Nome logo-->
<div class="container-fluid">
    <div class="row d-flex mt-5 mb-5">
        <div class="col-md-6 d-flex justify-content-end align-items-center">
            <div class="row">
                <div class="col-md-12 text-dark mt-5 mb-5">
                    <h1 class="fs-52 font-weight-bold text-center">Lunação</h1>
                    <h5 class="fs-18"> um projeto contra a pobreza menstrual</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-start align-items-center">
            <img class="tm-foto" src="https://i.imgur.com/lh7w0j5.png" alt="logo do projeto lunação">
        </div>
    </div>
</div>
<!--/Nome logo-->

<hr>

<!--Carroussel-->
<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 carousel-inner" src="https://i.imgur.com/v1F9uEl.png" alt="Primeiro Slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="https://i.imgur.com/QcL991a.png" alt="Segundo Slide">
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="https://i.imgur.com/4m9HuDD.png" alt="Terceiro Slide">
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="https://i.imgur.com/cmAVQfq.png" alt="Quarto Slide">
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="https://i.imgur.com/6hWdkrT.png" alt="Quinto Slide">
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="https://i.imgur.com/Mf4ViWH.png" alt="Quinto Slide">
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
</div>
<!--/Carroussel-->

<!--Jumbotron produtos-->
<div class="jumbotron jumbotron-fluid bg-faded mt-5" style="background-color: #FEF7D7;">
  <div class="container d-flex justify-content-center">
    <h1 class="display-4" id="produtos">Produtos</h1>
  </div>
</div>
<!--/Jumbotron produtos-->

<!-- BOTÃO DE NOVAS POSATGENS -->

<div class="row d-flex justify-content-center mb-4">
  <div class="col-md-12 d-flex justify-content-center">
    <button data-toggle="modal" data-target="#novaPostagem" class="btn btn-info">Cadastrar um Produto</button>
  </div>
</div>

<!-- BOTÃO DE NOVAS POSATGENS -->

<!--Card Slider-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-3" style="float:left">
       <div class="card mb-2">
          <img class="card-img-top"
            src="https://i.imgur.com/auzVsWN.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://i.imgur.com/WWAurRF.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://i.imgur.com/9qDOodi.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

       <div class="col-md-3" style="float:left">
       <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <!--/.Second slide-->
  </div>

<!--Controls-->
    <div class="controls-top ml-3 d-flex justify-content-center">
      <a class="btn-floating mr-1" href="#multi-item-example" data-slide="prev"><i id="controle" class="fa fa-circle-thin" aria-hidden="true"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i id="controle" class="fa fa-circle-thin" aria-hidden="true"></i></a>
      </div>
<!--/.Controls-->
<!--/Card Slider-->

<!--Jumbotron colaboradores-->
  <div class="jumbotron jumbotron-fluid bg-faded mb-0 mt-5" style="background-color: #FEF7D7;">
    <div class="container d-flex justify-content-center">
      <h1 class="display-4" id="grupo">Colaboradores</h1>
    </div>
  </div>
<!--/Jumbotron colaboradores-->

<!--Colaboradores-->
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12 d-flex justify-content-center"> -->
        <div class="col-md-12">
          <div class="row d-flex justify-content-center">
            <div class="person">
              <div class="container-sobre">
                <div class="container-sobre-inner">
                  <img
                    class="img img1"
                    src=""
                  />
                  <img
                    class="circle"
                    src="https://i.imgur.com/MqiRtXz.jpg"
                  />

                </div>
              </div>
              <div class="divider"></div>
              <div class="name">p1</div>
              <div class="title">Product Manager</div>
            </div>
            <div class="person">
              <div class="container-sobre">
                <div class="container-sobre-inner">
                  <img
                    class="img img2"
                    src=""
                  />
                  <img
                    class="circle"
                    src="https://i.imgur.com/81PApZd.png"
                  />

                </div>
              </div>
              <div class="divider"></div>
              <div class="name">p2</div>
              <div class="title">Senior Developer</div>
            </div>
            <div class="person">
              <div class="container-sobre">
                <div class="container-sobre-inner">
                  <img
                    class="circle"
                    src=""
                  />
                  <img
                    class="img img3"
                    src=""/>      </div>
              </div>
              <div class="divider"></div>
              <div class="name">p3</div>
              <div class="title">Senior UX</div>
            </div>
          </div>
        </div>

  <div class="col-md-12">
    <div class="row d-flex justify-content-center mb-5">
      <div class="person">
        <div class="container-sobre">
          <div class="container-sobre-inner">
            <img
              class="circle"
              src=""
            />
            <img
              class="img img1"
              src=""
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">p4</div>
        <div class="title">Product Manager</div>
      </div>
      <div class="person">
        <div class="container-sobre">
          <div class="container-sobre-inner">
            <img
              class="circle"
              src=""
            />
            <img
              class="img img1"
              src=""
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">p5</div>
        <div class="title">Product Manager</div>
      </div>
      </div>
    </div>
  <!-- </div> -->
    </div>
  </div>
<!--/Colaboradores-->






<!-- MODAL DE NOVAS POSATGENS -->

<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#novaPostagem">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Novo Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="imagem">Imagem</label>
          <input type="imagem" class="form-control" id="imagem" placeholder="Coloque aqui o link da Imagem">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="titulo">Escolha uma Categoria ou <a data-dismiss="modal" routerLink='/categoria'>Cadastre um novo</a></label>
         <select name="categoria" id="categoria" class="form-control">
           <option value="">Categoria</option>
         </select>
        </div>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Publicar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE NOVAS POSATGENS -->










