<!--Nome logo-->
<div class="container">
  <div class="row d-flex justify-content-center mt-5 mb-5">
    <link href='' type='text/css'>
    <h1 class="nomeProjeto"><span data-shadow-text="Text-Shadow">Lunação</span><br>um projeto contra a pobreza menstrual
    </h1>
  </div>
</div>

<!--/Nome logo-->

<hr>

<!--Carroussel-->
<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 carousel-inner" src="https://i.imgur.com/OxawFz0.png" alt="Primeiro Slide">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/e22D9BW.png" alt="Segundo Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/bnIDctD.png" alt="Terceiro Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/w16mxlc.png" alt="Quarto Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/C5cSdMP.png" alt="Quinto Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/8dfPRtx.png" alt="Sexto Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/623tV53.png" alt="Sétimo Slide">
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>
<!--/Carroussel-->

<!--Jumbotron produtos-->
<div class="jumbotron jumbotron-fluid bg-faded mt-5" style="background-color: #FEF7D7;">
  <div class="container d-flex justify-content-center">
    <h1 class="display-4" id="produtos">Produtos</h1>
  </div>
</div>
<!--/Jumbotron produtos-->

<!-- BOTÃO DE NOVAS POSATGENS -->

<div class="row d-flex justify-content-center mb-4">
  <div class="col-md-12 d-flex justify-content-center">
    <button data-toggle="modal" data-target="#novaPostagem" class="btn btn-info">Cadastrar um Produto</button>
  </div>
</div>

<!-- BOTÃO DE NOVAS POSATGENS -->

<!--Card Slider-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="container">
    <div class="carousel-inner" role="listbox">
      <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

          <a class="nav-item nav-link active" id="nav-todosProdutos-tab" data-toggle="tab" href="#nav-todosProdutos"
            role="tab" aria-controls="nav-todosProdutos" aria-selected="true">Todos os Produtos</a>

          <a (click)='findByIdUsuario()' class="nav-item nav-link" id="nav-meusProdutos-tab" data-toggle="tab"
            href="#nav-meusProdutos" role="tab" aria-controls="nav-meusProdutos" aria-selected="false">Meus Produtos</a>

          <a class="nav-item nav-link" id="nav-produtosCategoria-tab" data-toggle="tab" href="#nav-produtosCategoria"
            role="tab" aria-controls="nav-produtosCategoria" aria-selected="false">Produtos por Categoria</a>
        </div>
      </nav>
      <div class="tab-content mt-5" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-todosProdutos" role="tabpanel"
          aria-labelledby="nav-todosProdutos-tab">

          <div class="card-columns">
            <div class="card text-center" *ngFor='let item of listaProdutos'>
              <div class="card-body">
                <h5 class="card-title">{{item.nome}}</h5>
                <small class="text-muted">Categoria: {{item.categoria.descricao}} </small>
                <p class="card-text">{{item.descricao}}</p>
                <p class="card-text"><small class="text-muted">Doado por:{{item.usuario.nome}}</small></p>
              </div>
            </div>

          </div>
        </div>

        <div class="tab-pane fade" id="nav-meusProdutos" role="tabpanel" aria-labelledby="nav-meusProdutos-tab">


          <div class="card-columns">
            <div class="card text-center" *ngFor='let item of usuario.produto'>
              <div class="card-body">
                <h5 class="card-title">{{item.nome}}</h5>
                <small class="text-muted">Categoria: {{item.categoria.descricao}} </small>
                <p class="card-text">{{item.descricao}}</p>
                <!-- <p class="card-text"><small class="text-muted">{{}}</small></p> -->

                <a [routerLink]="['/produto-edit', item.id]" class="text-info mr-3" href="">Editar</a>
                <a [routerLink]="['/produto-delete', item.id]" class="text-danger" href="">Apagar</a>

                <!-- colocar routerLink no botão apagar -->

              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-produtosCategoria" role="tabpanel"
          aria-labelledby="nav-produtosCategoria-tab">

          <div class="card-columns" *ngFor='let categoria of listaCategorias'>
            <div class="card text-center" *ngFor='let item of categoria.produto'>
              <div class="card-body">
                <h5 class="card-title">{{item.nome}}</h5>
                <p class="card-text">{{item.descricao}}</p>
                <!-- <p class="card-text"><small class="text-muted">{{}}</small></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- First slide
     <div class="carousel-item active">

      <div class="col-md-3" style="float:left">
       <div *ngFor='let item of usuario.produto' class="card mb-2">
          <img class="card-img-top" src="https://i.imgur.com/auzVsWN.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{item.nome}}</h4>
            <p class="card-text">{{item.categoria.descricao}</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div> 

      



      <!-- <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top" width="209" height="209" src="https://i.imgur.com/I3QytD4.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Coletor Menstrual</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top" width="183" height="183" src="https://i.imgur.com/e44JlEe.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Calcinha absorvente</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top" width="183" height="183" src="https://i.imgur.com/IoV9Nwe.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Absorvente reutilizável</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div> -->

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <!-- <div class="carousel-item">

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top" src="https://i.imgur.com/cOMjtDN.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Absorvente interno</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top" width="190" height="190" src="https://i.imgur.com/P1fNIRu.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Absorvente Diurno</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top" width="163" height="163" src="https://i.imgur.com/ailJBHE.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Absorvente noturno</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div> -->
    <!--/.Second slide-->
  </div>
</div>

<!--Controls-->
<div class="controls-top ml-3 d-flex justify-content-center">
  <a class="btn-floating mr-1" href="#multi-item-example" data-slide="prev"><i id="controle" class="fa fa-circle-thin"
      aria-hidden="true"></i></a>
  <a class="btn-floating" href="#multi-item-example" data-slide="next"><i id="controle" class="fa fa-circle-thin"
      aria-hidden="true"></i></a>
</div>
<!--/.Controls-->
<!--/Card Slider-->

<!--Jumbotron colaboradores-->
<div class="jumbotron jumbotron-fluid bg-faded mb-0 mt-5" style="background-color: #FEF7D7;">
  <div class="container d-flex justify-content-center">
    <h1 class="display-4" id="grupo">Colaboradores</h1>
  </div>
</div>
<!--/Jumbotron colaboradores-->

<!--Colaboradores-->
<div class="container">
  <div class="row">
    <!-- <div class="col-md-12 d-flex justify-content-center"> -->
    <div class="col-md-12">
      <div class="row d-flex justify-content-center">

        <!-- Primeira pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="img img1" src="" />
              <img class="circle" src="https://i.imgur.com/0Uwrucm.png" />
            </div>
          </div>
          <div class="divider"></div>
          <div class="name">Agni</div>
          <div class="title">
            <p class="mr-3">Sou uma pessoa trans não binária, tenho vinte e um anos e sou desenvolvedore full stack
              junior. Meu objetivo profissional é trabalhar como dev front-end e aprimorar minhas habilidades com UI/UX
              para tornar a tecnologia cada vez mais acessível a todos os públicos.</p>
          </div>
        </div>
        <!-- /Primeira pessoa -->

        <!-- Segunda pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="img img2" src="" />
              <img class="circle" src="https://i.imgur.com/81PApZd.png" />
            </div>
          </div>
          <div class="divider"></div>
          <div class="name">Hugo</div>
          <div class="title">
            <p class="mr-3 ml-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora accusantium ab
              blanditiis cum, omnis obcaecati voluptate temporibus. Dolorem a at facilis aperiam ratione eligendi
              facere? Fugit soluta voluptate tenetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Recusandae fugiat deleniti, aspernatur labore omnis distinctio atque quia fuga maiores cum molestiae
              doloremque accusantium odio quae laboriosam vero consectetur, ratione similique.</p>
          </div>
        </div>
        <!-- /Segunda pessoa -->

        <!-- Terceira pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="img img3" src="" />
              <img class="circle" src="https://i.imgur.com/VtqEm5B.png" />
            </div>
          </div>
          <div class="divider"></div>
          <div class="name">Kathleen</div>
          <div class="title">
            <p class="mr-3 ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo maiores assumenda minus,
              inventore possimus alias, odio quae earum, rem cum labore nostrum repudiandae! Quis sed corporis qui dicta
              libero corrupti.</p>
          </div>
        </div>

        <!-- /Terceira pessoa -->
      </div>
    </div>

    <div class="col-md-12">
      <div class="row d-flex justify-content-center mb-5">

        <!-- Quarta pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="img img1" src="" />
              <img class="circle" src="https://i.imgur.com/ombDUxB.png" />
            </div>
          </div>
          <div class="divider"></div>
          <div class="name">Mathias</div>
          <div class="title">
            <p class="mr-3 ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore saepe voluptates
              voluptatum veniam harum perspiciatis tempore aliquam, nam cum dolores et eos! Culpa itaque sequi soluta
              eligendi in, laborum consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nobis
              ducimus eaque quae vero mollitia excepturi fugiat asperiores hic similique accusamus, expedita aspernatur
              odio optio corporis commodi veniam. Delectus, consequuntur.</p>
          </div>
        </div>
        <!-- /Quarta pessoa -->

        <!-- Quinta pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="circle" src="https://i.imgur.com/q1KmTXK.png" />
            </div>
          </div>
          <div class="divider"></div>
          <div class="name">Ruth</div>
          <div class="title">
            <p class="mr-3 ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur delectus voluptate
              possimus voluptates sunt assumenda nostrum quo eveniet! Blanditiis eligendi quos, minus animi dolorem quae
              doloremque mollitia nihil perferendis ex! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Ratione hic amet qui ipsum saepe eveniet nulla architecto aliquid, ut natus sit sed doloremque,
              perferendis velit eos pariatur, earum quam odit?</p>
          </div>
        </div>
        <!-- /Quinta pessoa -->

      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
<!--  </div> -->
<!--/Colaboradores-->






<!-- MODAL DE NOVAS POSATGENS -->

<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#novaPostagem">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Novo Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Nome</label>
          <input [(ngModel)]='produto.nome' type="text" class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <!-- <div class="form-group">
          <label for="imagem">Imagem</label>
          <input type="imagem" class="form-control" id="imagem" placeholder="Coloque aqui o link da Imagem">
        </div> -->

        <div class="form-group">
          <label for="texto">Descrição</label>
          <textarea [(ngModel)]='produto.descricao' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="titulo">Escolha uma categoria ou <a data-dismiss="modal" routerLink='/categoria'>Cadastre uma
              nova</a></label>
          <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria'
            (change)='findByIdCategoria()'>
            <option *ngFor='let item of listaCategorias' value="{{item.id}}">
              {{item.descricao}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE NOVAS POSTAGENS -->










<!-- MODAL DE NOVAS POSTAGENS -->