<!--   NOME LOGO   -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <h1 class="nomeProjeto"><span data-shadow-text="Lunação">Lunação</span><br>um projeto contra a pobreza menstrual
      </h1>
    </div>
  </div>
</div>
<!--   NOME LOGO   -->

<hr>

<!--   CARROUSSEL   -->
<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 carousel-inner" src="https://i.imgur.com/OxawFz0.png" alt="Primeiro Slide">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/e22D9BW.png" alt="Segundo Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/bnIDctD.png" alt="Terceiro Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/w16mxlc.png" alt="Quarto Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/C5cSdMP.png" alt="Quinto Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/8dfPRtx.png" alt="Sexto Slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/623tV53.png" alt="Sétimo Slide">
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>
<!--   CARROUSSEL   -->

<!--   JUMBOTRON PRODUTOS   -->
<div class="jumbotron jumbotron-fluid bg-faded mt-5 p-4" style="background-color: #FFFFFF;">
  <div class="container d-flex justify-content-center">
    <h1 class="display-4 estilo" id="produtos">Produtos</h1>
  </div>

  <div class="row d-flex justify-content-center mt-4">
    <div class="col-md-12 d-flex justify-content-center">
      <button *ngIf='authService.adm() || authService.doador()' data-toggle="modal" data-target="#novaPostagem"
        class=" btn text-light" style="background-color: rgba(112, 85, 69, 0.753);">Cadastrar um Produto</button>
    </div>
  </div>

</div>
<!--   JUMBOTRON PRODUTOS   -->

<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex flex-wrap justify-content-around">
        <div *ngFor='let item of listaProdutos' class="card mb-5 mr-2 ml-2 produtos">
          <img class="card-img-top" src="{{item.imagem}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{item.nome}}</h4>
            <p class="card-text">{{item.descricao}}</p>
            <button class="btn btn-outline-success mr-3 mb-2">Mais Informações</button>
            <button *ngIf='authService.adm() || authService.doador()' [routerLink]="['/produto-edit', item.id]"
              class="btn btn-outline-info mr-2">Editar</button>
            <button *ngIf='authService.adm() || authService.doador()' [routerLink]="['/produto-delete', item.id]"
              class="btn btn-outline-danger mr-3">Apagar</button>
          </div>
        </div>
    </div>
  </div>
</div>




<!--Jumbotron colaboradores-->
<div class="jumbotron jumbotron-fluid bg-faded mt-5 p-5" style="background-color: #FFFFFF;">
  <div class="container d-flex justify-content-center">
    <h1 class="display-4 estilo" id="grupo">Equipe</h1>
  </div>
</div>
<!--/Jumbotron colaboradores-->

<!--Colaboradores-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-center">

        <!-- Primeira pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="img img1" src="" />
              <img class="circle" src="https://i.imgur.com/0Uwrucm.png" />
            </div>
          </div>
          <ul class="s-network">
            <li>
              <a href="https://www.linkedin.com/in/agni-dmitri/" target="_blank" class="icoLinkedinn">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/agnidmitri" target="_blank" class="icoGithub">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <div class="divider"></div>
          <div class="name">Agni</div>
          <div class="title">
            <p class="mr-3 text-justify">Sou uma pessoa trans não binária, tenho vinte e um anos e sou desenvolvedore
              full stack
              junior. Meu objetivo profissional é trabalhar como dev front-end e aprimorar minhas habilidades com UI/UX
              para tornar a tecnologia cada vez mais acessível a todos os públicos. Minha missão na tecnologia é ser
              representatividade para pessoas trans e não brancas.</p>
          </div>
        </div>
        <!-- /Primeira pessoa -->

        <!-- Segunda pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="img img2" src="" />
              <img class="circle" src="https://i.imgur.com/81PApZd.png" />
            </div>
          </div>
          <ul class="s-network">
            <li>
              <a href="https://www.linkedin.com/in/hugosaladini/" target="_blank" class="icoLinkedinn">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/HugoSaladini" target="_blank" class="icoGithub">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <div class="divider"></div>
          <div class="name">Hugo</div>
          <div class="title">
            <p class="mr-3 ml-3 text-justify">Sou uma pessoa bem comunicativa, minhas experiências de trabalho me
              moldaram uma pessoa com um senso critico, e tentando sempre achar um equilíbrio entre as ações, pensando
              no bem estar de todos visando os valores e princípios, o que me da brilho nos olhos é gerar valor para as
              pessoas através da tecnologia, busco sempre me aprimorar e conhecer um pouco sobre todo.
            </p>
          </div>
        </div>
        <!-- /Segunda pessoa -->

        <!-- Terceira pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="img img3" src="" />
              <img class="circle" src="https://i.imgur.com/VtqEm5B.png" />
            </div>
          </div>
          <ul class="s-network">
            <li>
              <a href="https://www.linkedin.com/in/kathleen-fidelis/" target="_blank" class="icoLinkedinn">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/Kathleen-Fidelis" target="_blank" class="icoGithub">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <div class="divider"></div>
          <div class="name">Kathleen</div>
          <div class="title">
            <p class="mr-3 ml-3 text-justify">Sou uma pessoa que ama aprender coisas novas, e na tecnologia tenho a
              oportunidade de estar sempre estudando. Com minhas experiências, aprendi a ter responsabilidade pessoal e
              ser persistente. E com isso, procuro a cada dia ser uma desenvolvedora melhor. Meu objetivo é poder fazer
              a diferença na vida das pessoas através da tecnologia.</p>
          </div>
        </div>

        <!-- /Terceira pessoa -->
      </div>
    </div>

    <div class="col-md-12">
      <div class="row d-flex justify-content-center mb-5">

        <!-- Quarta pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="img img1" src="" />
              <img class="circle" src="https://i.imgur.com/ombDUxB.png" />
            </div>
          </div>
          <ul class="s-network">
            <li>
              <a href="https://www.linkedin.com/in/niashi/" target="_blank" class="icoLinkedinn">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/Niashi" target="_blank" class="icoGithub">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <div class="divider"></div>
          <div class="name">Mathias</div>
          <div class="title">
            <p class="mr-3 ml-3 text-justify">Sou Mathias, paulista e paulistano e tenho 26 anos. Sou filho de
              imigrantes uruguaios que me ensinaram, antes de mais nada, o que é o verdadeiro interesse pelas coisas do
              mundo e também me mostraram que preciso dar tudo de mim, sempre. Gosto de tudo, mas sobretudo de jogos de
              raciocínio e de estudar. Tenho fascínio por seguir evoluindo.</p>
          </div>
        </div>
        <!-- /Quarta pessoa -->
        <div class="person">
          <div class="container-sobre">
            <div class="container-sobre-inner">
              <img class="circle" src="https://i.imgur.com/pulyTTT.png" />
            </div>
          </div>
          <ul class="s-network">
            <li>
              <a href="https://www.linkedin.com/in/falecomruthferreira/" target="_blank" class="icoLinkedinn">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/ruthfs" target="_blank" class="icoGithub">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <div class="divider"></div>
          <div class="name">Ruth</div>
          <div class="title">
            <p class="mr-3 ml-3 text-justify">Aprendizado e interesses diversos fizeram parte de minha vida e essas
              características que me trouxeram para o âmbito da tecnologia com vontade de me desafiar e construir minha
              carreira em uma nova área, usando minha adaptabilidade e persistência, me tornei desenvolvedora full stack
              e busco me aprimorar continuamente.</p>
          </div>
        </div>
        <!-- /Quarta pessoa -->

      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
<!--  </div> -->
<!--/Colaboradores-->






<!-- MODAL DE NOVAS POSATGENS -->

<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#novaPostagem">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Novo Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Nome</label>
          <input [(ngModel)]='produto.nome' type="text" class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="imagem">Imagem</label>
          <input [(ngModel)]='produto.imagem' type="imagem" class="form-control" id="imagem"
            placeholder="Coloque aqui o link da Imagem">
        </div>

        <div class="form-group">
          <label for="texto">Descrição</label>
          <textarea [(ngModel)]='produto.descricao' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="titulo">Escolha uma categoria ou <a data-dismiss="modal" routerLink='/categoria'>Cadastre uma
              nova</a></label>
          <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria'
            (change)='findByIdCategoria()'>
            <option *ngFor='let item of listaCategorias' value="{{item.id}}">
              {{item.descricao}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE NOVAS POSTAGENS -->










<!-- MODAL DE NOVAS POSTAGENS -->