/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

.fs-52{
    font-size: 65px;
}

.fs-18{
    font-size: 25px;
}

.tm-foto{
    width: 220px;
    height: 146px;
}

/* .carousel-inner {
    height: 500px;

} */

html{
  scroll-behavior: smooth;
}

/* #grad {
  background-image: linear-gradient(#F8E2C5, #E0BA8A);
} */


