
    <div class="container">
        <div class="bg-color">
        <div class="row">                    
            <h1 class="text-center col-md-12 mt-5 mb-5">Sobre o projeto</h1> 

            <div class="col-md-6 mt-2 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <img class="img" src="https://i.imgur.com/HwcW09I.png" alt="Ilustração de duas pessoas menstruantes, a da direita tem pele verde e cabelo laranja curto, segurando um coletor menstrual na mão direita, usa apenas uma calcinha cor de rosa. A da esquerda com cabelo cacheado e volumoso de cor roxa e pele amarela, usa uma cueca e sutiã de cor azul clara. Segura um absorvente descartável na mão esquerda. As pessoas estão de mãos dadas. Acima delas a legenda: 'Produtos menstruais deveriam ser GRATUITOS'">
                    <p> <a href="https://www.instagram.com/nimbusviridis/" target="_blank">Arte por: Nimbus Aragón
                        <img class="icon" src="https://i.imgur.com/55Jnv8w.png" alt="logo instagram">
                    </a></p>
                </div> 
            </div>

            <div class="col-md-5 mt-4 text-justify">
                
                    <p>Um projeto pela igualdade de gênero, com foco em combater a pobreza menstrual, e oferecer informações para todas as pessoas menstruantes.</p>
     
                    <p>Uma pesquisa feita em 2018 pela BRK Ambiental  revela que mais de 25% das mulheres cis* moram em residências sem escoamento de esgoto adequado. Um milhão e meio de brasileiras vivem em residências sem banheiro. 
                    
                    Segundo o estudo “Pobreza Menstrual no Brasil: desigualdade e violações de direitos”, 713 mil mulheres cis vivem sem acesso a banheiro ou chuveiro em seu domicílio e mais de 4 milhões não têm acesso a itens mínimos de cuidados menstruais. 
     
                    Esses dados não contemplam todas as pessoas menstruantes, e por tanto não chegam perto do total de pessoas com falta de acesso a saneamento básico e itens de higiene menstrual.</p>

                    <p> Embora a falta de saneamento básico no Brasil, seja talvez o maior contribuinte para falta de acesso à educação causada pela pobreza menstrual, compreendemos que a distribuição gratuita de itens de higiene menstrual, e, a inclusão de pessoas trans menstruantes, é um passo para combater a pobreza menstrual. 
                    </p>
                   
                    <p class="mt-4 p1-1">*Cis/cisgênero: explicação completa nos cards abaixo.</p>
                    
            </div>
            <div>
                <h2 class="text-center col-md-12 mt-5">Mais sobre gênero</h2>
                <div class="card-group p-5">
                    <div class="card">
                      <img class="card-img-top" src="https://i.imgur.com/A4wteZj.png" alt="Imagem de capa do card">
                      <div class="card-body">
                        <p class="card-text">Sobre gênero, quadros por Nimbus Aragón</p>
                        <a href="https://www.facebook.com/media/set/?vanity=nimbusviridis&set=a.2368399326731167" class="btn btn-outline-dark">álbum completo</a>
                      </div>
                    </div>
                    <div class="card mr-5 ml-5">
                      <img class="card-img-top" src="https://i.imgur.com/6xwJoHk.png" alt="Imagem de capa do card">
                      <div class="card-body">
                        <p class="card-txt">Esta imagem faz parte de um álbum. </p>
                        <p class="card-txt"> O contexto é estritamente necessário para o total compreendimento de cada quadro.</p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="https://i.imgur.com/bek6dW5.png" alt="Imagem de capa do card">
                      <div class="card-body">
                        <p class="card-txt">Esta imagem faz parte de um álbum. </p>
                        <p class="card-txt"> O contexto é estritamente necessário para o total compreendimento de cada quadro.</p>
                      </div>
                    </div>
                  </div>
            </div>
            
        </div>
    </div>
</div>