.bg-color{
    background-color: #F6F0E6; 
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.p1{
    font-size: 22px;
}

.p1-1 {
    font-size: 12px;
    font-style: italic;
}
