<div class="bg-color">
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-center">Informativo</h1></div>
        </div>
        <div class="col-md-6  mt-5 mb-5">
            <div>
                <p class="mt-5">Um projeto pela igualdade de gênero, com foco em combater a pobreza menstrual, e oferecer informações para todas as pessoas menstruantes.</p>

                <p>Uma pesquisa feita em 2018 pela BRK Ambiental  revela que mais de 25% das mulheres cis* moram em residências sem escoamento de esgoto adequado. Um milhão e meio de brasileiras vivem em residências sem banheiro. 
                
                Segundo o estudo “Pobreza Menstrual no Brasil: desigualdade e violações de direitos”, 713 mil mulheres cisgêneras* vivem sem acesso a banheiro ou chuveiro em seu domicílio e mais de 4 milhões não têm acesso a itens mínimos de cuidados menstruais. 
    
                Esses dados não contemplam todas as pessoas menstruantes, e por tanto não chegam perto do total de pessoas com falta de acesso a saneamento básico e itens de higiene menstrual.</p>
                
                <p> Embora a falta de saneamento básico no Brasil, seja talvez o maior contribuinte para falta de acesso à educação causada pela pobreza menstrual, compreendemos que a distribuição gratuita de itens de higiene menstrual, e, a inclusão de pessoas trans menstruantes, é um passo para combater a pobreza menstrual. 
                </p>
               
                <p class=" mt-4 p1-1">*Cis/cisgênera: uma pessoa cisgênera se sente comtemplada pelo gênero imposto ao seu nascimento. Diferente de uma pessoa trans*
                Exemplo: ao nascer esta pessoa foi designada mulher, e durante sua vida ela continua se identificando como tal.</p>
                <p class="p1-1">
                *Trans: uma pessoa trans se identifica com um gênero diferente daquele que lhe foi imposto ao seu nascimento. 
                Exemplo: ao nascer esta pessoa foi designada mulher, mas se identifica como pertencente a outro gênero.
                </p>
                

                </div>
        </div>
    </div>
</div>
</div>