<div class="bg-color">
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-center">Informativo</h1></div>
        </div>
        <div class="col-md-6 mt-5">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacus nulla, semper eu quam aliquet, bibendum congue nunc. Sed et auctor metus. Vivamus eu pulvinar nisi. Duis pulvinar interdum est facilisis imperdiet. Ut felis augue, tempus sed libero eget, ullamcorper tempus libero. Quisque egestas urna eros, vel accumsan tortor ultricies non. Integer vulputate ligula non egestas dapibus. Fusce nec nisl eu tellus pellentesque congue ac sit amet eros. Duis a arcu non quam laoreet dapibus. Praesent ut diam euismod, viverra nulla at, volutpat dolor. Aenean at feugiat odio, quis pellentesque nibh. Fusce diam odio, pharetra a leo eget, pulvinar semper lorem. Morbi sed dictum felis, id volutpat lorem. Sed at massa quis mi pulvinar tincidunt. Ut lorem ante, efficitur vitae dictum ac, commodo eget elit.

                Nam sollicitudin interdum semper. Mauris pellentesque congue sem, et luctus nisl molestie ut. Nulla dapibus aliquam convallis. Mauris sed tempor nulla. Nullam facilisis suscipit erat, vel ultrices arcu imperdiet quis. Proin et turpis vitae nulla porttitor tincidunt. Proin elementum ultricies nisl. Vestibulum erat ipsum, faucibus et lectus id, fringilla ullamcorper tortor. Maecenas id tortor vitae libero porttitor efficitur. Aenean vitae est quis elit maximus sollicitudin. Donec vel lacus interdum, tincidunt leo eget, lobortis ex. Duis condimentum volutpat orci, sed pellentesque justo molestie ac. Curabitur lacinia commodo nisi eget gravida.</div>
        </div>
    </div>
</div>
</div>